<%= form_for [@artist, @song], html: { multipart: true } do |f| %>

  <div class="form-group">
    <label>The name of the song</label>
    <%= f.text_area :song_name, rows: 5, placeholder: "song name", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Year of release</label>
    <%= f.number_field :release_year, rows: 5, placeholder: "eg. 2010", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>The genre</label>
    <%= f.text_area :genre, rows: 5, placeholder: "eg. Pop, Rock, Jazz, Country", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
